<?php
/**
 * Magebit_ProductComments
 *
 * @category     Magebit
 * @package      Magebit_ProductComments
 * @author       Aigars Bedeicis <aigars.bedeicis@magebit.com>
 * @copyright    Copyright (c) 2018 Magebit, Ltd.            (http://magebit.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */

/**
 * @var \Magebit\ProductComments\Block\Comment $block
 */

if ( !($block->isCommentsEnabled()) ) return;
?>
<h1>Comments</h1>
<form action="<?php echo $block->getFormAction() ?>" data-mage-init='{"validation":{}}' method="post">
    <input name="productId" type="text" hidden="true" value="<?php echo $block->getCurrentProduct()->getId();?>">
    <input name="name" class="input-text required-entry" type="text" placeholder="Name">
    <input name="email" class="input-text validate-email required-entry" data-validate="{'validate-email':true}" type="text" placeholder="Email">
    <input name="text" class="input-text required-entry" type="text" placeholder="Comment" style="height:100px">
    <input type="submit" value="Send">
</form>
<div class="comment-block">
<?php
$comments = $block->getComments();

foreach ($comments as $item)
{
    echo '<div class="comment">
            <div class="comment-header">';
            // author part
            echo $item['author'].' -- '.$item['email']. '--' . $item['date'];
            echo '</div>';
            echo '<div class="comment-body">';
            // text
            echo $item['text'];
            echo '</div>';
    echo '</div>';
}
?>
</div>