<?php
/**
 * Magebit_ProductComments
 *
 * @category     Magebit
 * @package      Magebit_ProductComments
 * @author       Aigars Bedeicis <aigars.bedeicis@magebit.com>
 * @copyright    Copyright (c) 2018 Magebit, Ltd.            (http://magebit.com)
 * @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
 */
/**
 * @var \Magebit\ProductComments\Block\CommentList $block
 */
?>
<table>
    <tr>
        <th>Name</th>
        <th>Comments</th>
        <th>URL</th>
    </tr>
    <?php
    $products = $block->getProductsWithComments();
    foreach ($products as $p) {
        echo '<tr>' .
            '<td>' . $p['name'] . '</td>' .
            '<td>' . $p['comments'] . '</td>' .
            '<td><a href="' . $p['url'] . '">' . $p['name'] . '</a></td>' .
            '</tr>';
    }
    ?>
</table>