
<div class="block newsletter">
    <div class="title">Newsletter</div>
    <div class="content">
        <form class="form subscribe"
              novalidate
              action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
              method="post">
            <div class="control">
                <input name="name" type="text" id="newsletter" placeholder="Enter Name"
                       data-validate="{required:true}" />
                <input name="email" type="email" id="newsletter" placeholder="Enter Email"
                       data-validate="{required:true, 'validate-email':true}" />
            </div>
            <div class="actions double-control">
                <button class="action subscribe primary" title="Subscribe" type="submit">
                    <span>Subscribe</span>
                </button>
            </div>
        </form>

    </div>
</div>