<div class="menu_categories menu_block">
<?php
    echo '<p>';
    echo 'ID:'.$block->getCategoryId();
    if (!$block->isCategoryValid())
    {
        echo '<br/> Invalid Category ID';
    } else
    {
    echo '</p><h3>';
    $category = $block->getCategoryInfo();
    echo '<a href="'.$category['url'].'" title="'.$category['name'].'">'.$category['name'].'</a>';
    echo '<p> Products:'.$category['productCount'].'</p>';
    echo '</h3><ul>';
    foreach ($block->getSubCategories() as $id=>$info)
    {
        echo '<li> <a href="'.$info['url'].'" title="'.$info['name'].'">'.$info['name'];
        echo '</a>';
        echo '<p> Products:'.$info['productCount'].'</p></li>';
    }
    echo '</ul>';
    }
?>
</div>
